.block1{
    position: absolute;
    left: 15%;
    width: 200px;
    height: 200px;
    background: #3700ff;
}
.block2{
    position: absolute;
    left: 45%;
    width: 200px;
    height: 200px;
    background: #3700ff;
}
.block3{
    position: absolute;
    left: 75%;
    width: 200px;
    height: 200px;
    background: #3700ff;
}

.block4{
    position: absolute;
    left: 15%;
    top: 600px;
    width: 200px;
    height: 200px;
    background: #3700ff;
}
.block5{
    position: absolute;
    left: 45%;
    top: 600px;
    width: 200px;
    height: 200px;
    background: #3700ff;
}
.block6{
    position: absolute;
    left: 75%;
    top: 600px;
    width: 200px;
    height: 200px;
    background: #3700ff;
}

.blocks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
li {
    list-style-type: none; 
   }
li:before {
content: "♥ "; 
}

#header-container{
    float: left;
    font-size: 10px;
}
#list{
    float: right;
    position: relative;
    top: 450px;
    right: 45%;

}